{
  "branches": [
    "main"
  ],
  "preset": "conventionalcommits",
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "preset": "conventionalcommits"
      }
    ],
    [
      "@semantic-release/release-notes-generator",
      {
        "preset": "conventionalcommits"
      }
    ],
    "@semantic-release/github",
    [
      "@semantic-release/exec",
      {
        "publishCmd": "echo 'VERSION=${nextRelease.version}' >> $GITHUB_ENV",
        "verifyReleaseCmd": "echo ${nextRelease.version} > .VERSION"
      }
    ]
  ]
}
