name: Push

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

permissions: read-all

jobs:
  release:
    permissions:
      contents: write
    uses: quike/workflow-github/.github/workflows/release.yml@v1
    secrets: inherit

  build:
    runs-on: ubuntu-24.04
    name: Build
    needs: release
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Verify
        run: |
          echo "release-published: ${{ needs.release.outputs.release-published }}"
          echo "release-git-head: ${{ needs.release.outputs.release-version }}"
          echo "release-major: ${{ needs.release.outputs.release-major }}"
          echo "release-minor: ${{ needs.release.outputs.release-minor }}"
          echo "release-patch: ${{ needs.release.outputs.release-patch }}"
          echo "release-type: ${{ needs.release.outputs.release-type }}"
          echo "release-git-head: ${{ needs.release.outputs.release-git-head }}"
          echo "release-git-tag: ${{ needs.release.outputs.release-git-tag }}"
      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          distribution: "temurin"
          java-version: "23"
      - name: Cache Maven packages
        uses: actions/cache@v5
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-maven-
      - name: Build
        run: |
          ./mvnw spotless:check verify -B -Drevision=${{ needs.release.outputs.release-version }}
